
input[type=text], [type=password],select {
    color:black;
	width: 20%;
    padding: 10px 0px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

input[type=submit], select {
    width: 10%;
    padding: 5px 5px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

body
{background:url("m.jpg");
}